* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /** la largeur des box tient compte des bordures margin et padding **/
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

h1 {
  margin: 1.5rem auto 0.6rem;
  font-size: 1.5rem;
  font-weight: 700;
}

h2 {
  font-weight: 800;
  font-size: 1.2rem;
}

h3 {
  margin-bottom: 0.4rem;
  font-size: 1rem;
  font-weight: 800;
}

.titres_section {
  margin-bottom: 1rem;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}

p {
  font-size: 0.875rem;
}

.fa-star.grey {
  color: #d9d9d9;
  padding-right: 0.0625rem;
  font-size: 0.875rem; /** 14px **/
}

.fa-star {
  color: #0065fc;
  padding-right: 0.0625rem;
  font-size: 0.875rem;
}

/**** Header ****/

header div a {
  display: flex;
  padding: 40px 20px;
  text-align: center;
  justify-content: space-around;
}

#logo img {
  width: 5rem;
  height: 5rem;
  margin-left: 1rem;
  margin-top: 0.3rem;
}

nav {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

nav div {
  width: 50%;
}

nav :nth-child(1) a {
  float: left;
}
nav :nth-child(2) a {
  float: right;
}

div #lien_inscription {
  color: #0065fc;
  font-weight: 800;
  margin-right: 1rem;
}

div #lien_hebergement {
  color: #0065fc;
  font-weight: 500;
  padding-bottom: 20px;
}

div #lien_activite {
  font-weight: 500;
  padding-bottom: 20px;
}

#trait_bleu {
  position: absolute;
  background-color: #0065fc;
  left: 0;
  width: 50%;
  height: 3px;
}

#trait_gris {
  position: absolute;
  background-color: #f2f2f2;
  right: 0;
  width: 50%;
  height: 3px;
}

/**** Recherche ****/

#recherche {
  margin: 0 1rem; /** 0.625rem = 10px **/
  padding: 0 0.3125rem 0 0.3125rem; /** = 5px **/
}

#Titre p {
  font-size: 14px;
  font-weight: 400;
  margin: 1px auto 15px;
}

/* Barre de recherche */

#bloc_rechercher {
  display: inline-flex;
  justify-content: space-between;
  margin: 10px auto 10px;
}

#icone_lieu {
  border-radius: 10px 0 0 10px;
  background-color: #f2f2f2;
  font-weight: bold;
  font-size: 15px;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

input {
  height: 3rem;
  border: none;
  border-top: 2px solid rgba(242, 242, 242, 0.5);
  border-bottom: 2px solid rgba(242, 242, 242, 0.5);
}

input[type="text"]::placeholder {
  color: black;
  font-weight: 700;
  font-family: "Raleway";
  text-align: start;
  padding-left: 1rem;
}

#loupe {
  display: flex;
  background-color: #0065fc;
  color: white;
  width: 3rem;
  height: 3rem;
  border-radius: 10px;
  margin-left: -3px;
  justify-content: center;
  align-items: center;
}

#bouton_rechercher {
  border-radius: 0 10px 10px 0;
  border: none;
  height: 3rem;
  min-width: 8rem;
  color: white;
  background-color: #0065fc;
  font-weight: bold;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: none;
}

/* Filtres */

#section_filtres {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

#section_filtres p {
  font-size: 14px;
  font-weight: 800;
  margin-top: 1rem;
  margin-bottom: 0.6rem;
}

#filtres {
  display: flex;
  flex-wrap: wrap;
}

.bouton_filtre {
  height: 40px;
  border: 2px solid #f2f2f2;
  border-radius: 30px;
  display: flex;
  align-items: center;
  min-width: 170px;
  max-width: 200px;
  margin: 0.5rem 0;
  margin-right: 0.4rem;
}

#filtres .fas {
  color: #0065fc;
  background-color: #deebff;
  width: 37px;
  height: 37px;
  min-height: 37px;
  min-height: 37px;
  border-radius: 50%;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="checkbox"] {
  display: none;
}

.titres_filtres {
  font-weight: bold;
  margin: 0 0.5rem 0 0.5rem;
  color: black;
}

/* Nombre de résultat de recherche */

#resultat_rech {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

#resultat_rech .fas::before {
  background-color: white;
  color: #0065fc;
  min-width: 1.5rem;
  min-height: 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 1px solid #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
}

#resultat_rech p {
  font-size: 14px;
  font-weight: 400;
  padding: 8px 2px 8px;
}

/**** Les plus populaires ****/

#bloc_populaires {
  background-color: #f2f2f2;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

#titre_icone_du_bloc {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 1.2rem;
}

.populaires {
  height: 9rem;
  background-color: white;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  padding: 0.3rem;
  margin: 1rem;
  margin-bottom: 1.5rem;
  box-shadow: 8px 8px 5px -5px #d3d3d3;
}

#le_soleil_du_matin {
  background-image: url("images/hebergements/4_small/hotel_le_soleil_du_matin.jpg");
  background-position: 80% 40%; /** 80 axe horizontal, 40 axe vertical **/
  background-size: cover;
  display: inline-block;
  width: 35%;
  min-width: 35%;
  max-width: 35%;
  height: 100%;
  border-radius: 20px 0px 0px 20px;
}

#au_coeur_de_leau {
  background-image: url("images/hebergements/4_small/au_coeur_de_leau_chambres_dhotes.jpg");
  background-position: 80% 40%;
  background-size: cover;
  display: inline-block;
  width: 35%;
  min-width: 35%;
  max-width: 35%;
  height: 100%;
  border-radius: 20px 0px 0px 20px;
}

#hotel_tout_bleu_et_blanc {
  background-image: url("images/hebergements/4_small/hotel_tout_bleu_et_blanc.jpg");
  background-position: 80% 50%;
  background-size: cover;
  display: inline-block;
  width: 35%;
  min-width: 35%;
  max-width: 35%;
  height: 100%;
  border-radius: 20px 0px 0px 20px;
}

.info_carte_pop {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  margin-top: 0.5rem;
  margin-left: 1rem;
  margin-right: 0.4rem;
}

.texte_photo {
  height: 3.82rem;
  margin-right: 0.4rem;
}

.etoiles_populaires {
  display: inline-block;
  margin-top: 2rem;
  margin-bottom: 0.1rem;
}

/**** Hébergements à Marseille ****/

#Hebergements {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 0 0.5rem;
}

.hebergements {
  background-color: white;
  border-radius: 30px;
  padding: 0.3rem;
  margin-bottom: 1rem;
  box-shadow: 1px 5px 5px 1px #f2f2f2;
}

#auberge_de_la_cannebiere {
  background-image: url("images/hebergements/4_small/auberge_de_la_cannebiere.jpg");
  background-size: cover;
  background-position: 50% 60%;
  height: 7rem;
  width: 100%;
  border-radius: 30px 30px 0 0;
}

#hotel_du_port {
  background-image: url("images/hebergements/4_small/hotel_du_port.jpg");
  background-size: cover;
  background-position: 50% 60%;
  height: 7rem;
  width: 100%;
  border-radius: 30px 30px 0 0;
}

#hotel_les_mouettes {
  background-image: url("images/hebergements/4_small/hotel_les_mouettes.jpg");
  background-size: cover;
  background-position: 50% 60%;
  height: 7rem;
  width: 100%;
  border-radius: 30px 30px 0 0;
}

#hotel_de_la_mer {
  background-image: url("images/hebergements/4_small/hotel_de_la_mer.jpg");
  background-size: cover;
  background-position: 50% 60%;
  height: 7rem;
  width: 100%;
  border-radius: 30px 30px 0 0;
}

#auberge_le_panier {
  background-image: url("images/hebergements/4_small/auberge_le_panier.jpg");
  background-size: cover;
  background-position: 50% 60%;
  height: 7rem;
  width: 100%;
  border-radius: 30px 30px 0 0;
}

#hotel_chez_amina {
  background-image: url("images/hebergements/4_small/hotel_chez_amina.jpg");
  background-size: cover;
  background-position: 50% 60%;
  height: 7rem;
  width: 100%;
  border-radius: 30px 30px 0 0;
}

.description_hebergements {
  margin-top: 0.5rem;
  margin-left: 0.8rem;
}

.etoiles_hebergements {
  margin-top: 0.3rem;
  margin-left: 0.8rem;
  padding-bottom: 0.3rem;
}

#afficher_plus {
  font-size: 1rem;
  font-weight: 800;
  margin: 1rem 0 2rem 0;
}

/**** Activités à Marseille ****/

#Activites h2 {
  margin-left: 1rem;
}

.activites {
  height: 12rem;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 5px 5px -1px #dfdfdf;
  margin: 1rem;
}

#vieux_port {
  background-image: url("images/activites/4_small/vieux_port.jpg");
  background-position: 80% 40%;
  background-size: cover;
  height: 75%;
  width: 100%;
  max-width: 100%;
  border-radius: 20px 20px 0 0;
}

#fort_de_pomegues {
  background-image: url("images/activites/4_small/fort_de_pomegues.jpg");
  background-position: 80% 40%;
  background-size: cover;
  height: 75%;
  width: 100%;
  max-width: 100%;
  border-radius: 20px 20px 0 0;
}

#iles_du_frioul {
  background-image: url("images/activites/4_small/iles_du_frioul.jpg");
  background-position: 80% 25%;
  background-size: cover;
  height: 75%;
  width: 100%;
  max-width: 100%;
  border-radius: 20px 20px 0 0;
}

#parc_national_des_calanques {
  background-image: url("images/activites/4_small/parc_national_des_calanques.jpg");
  background-position: 80% 40%;
  background-size: cover;
  height: 75%;
  width: 100%;
  max-width: 100%;
  border-radius: 20px 20px 0 0;
}

#notre_dame_de_la_garde {
  background-image: url("images/activites/4_small/notre_dame_de_la_garde.jpg");
  background-position: 80% 40%;
  background-size: cover;
  height: 75%;
  width: 100%;
  max-width: 100%;
  border-radius: 20px 20px 0 0;
}

#parc_longchamp {
  background-image: url("images/activites/4_small/parc_longchamp.jpg");
  background-position: 80% 40%;
  background-size: cover;
  height: 75%;
  width: 100%;
  max-width: 100%;
  border-radius: 20px 20px 0 0;
}

.activites h3 {
  font-weight: 800;
  padding: 1rem 0 1rem 1rem;
}

/**** Footer ****/

footer {
  color: black;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  margin-top: 2.5rem;
}

.colonne_footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.625rem;
  margin: 0.625rem;
}

footer h2 {
  padding: 0;
  margin: 1.5rem 0 1.5rem 0;
}

li {
  list-style: none;
  font-size: 0.875rem;
  font-weight: 400;
  padding: 0.3125rem 0 0.3125rem 0;
}

/**** version tablette****/

@media screen and (min-width: 770px) {
  nav {
    display: flex;
    flex-flow: row nowrap;
  }

  nav div {
    width: unset;
  }

  nav a {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
  }

  nav :first-child {
    width: 70%;
  }

  nav :nth-child(2) a {
    float: none;
  }

  #inscription {
    order: 3;
  }

  div #lien_inscription {
    margin-right: 0;
  }

  #lien_hebergement {
    color: #0065fc;
    font-weight: 500;
    padding-bottom: 20px;
    margin: 0;
  }

  #trait_bleu {
    display: none;
  }

  #trait_gris {
    display: none;
  }

  /** Recherche **/

  #recherche {
    margin: 0 1rem;
    padding: 0;
  }

  #loupe {
    display: none;
    background-color: #0065fc;
    color: white;
    width: 3rem;
    height: 3rem;
    border-radius: 10px;
    margin-left: -3px;
    justify-content: center;
    align-items: center;
  }

  #bouton_rechercher {
    border-radius: 0 10px 10px 0;
    border: none;
    height: 3rem;
    min-width: 8rem;
    color: white;
    background-color: #0065fc;
    font-weight: bold;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: flex;
  }

  /** Filtres **/

  #section_filtres {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  #section_filtres p {
    font-size: 14px;
    font-weight: 800;
    margin-top: 1rem;
    margin-right: 2rem;
    margin-bottom: 0.6rem;
  }

  .bouton_filtre {
    margin-right: 0.3rem;
  }

  /** Les plus populaires **/

  .titres_section {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  #titre_icone_du_bloc {
    padding: 0;
    margin: 1rem 0.5rem 0.5rem 1rem;
  }

  .populaires {
    position: relative;
  }

  /** Hebergements **/

  #conteneur_hebergements {
    display: flex;
    flex-flow: row wrap;
  }

  .hebergements {
    width: 30%;
    background-color: white;
    border-radius: 30px;
    box-shadow: 1px 5px 5px 1px #f2f2f2;
    margin: 0.85rem;
  }

  /** Activites **/

  #conteneur_activites {
    display: flex;
    flex-flow: row nowrap;
    height: 30rem;
    gap: 2rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .activites {
    border-radius: 20px;
    box-shadow: 0px 5px 5px -1px #dfdfdf;
    margin: 0 0 1rem 0;
    height: 100%;
    padding: 0;
  }

  .groupe_activites {
    display: flex;
    flex-flow: column nowrap;
    width: 25%;
    height: 100%;
  }

  .activites h3 {
    font-weight: 800;
    padding: 0.5rem 0 1rem 1rem;
  }

  #vieux_port {
    height: 85%;
  }

  #parc_national_des_calanques {
    height: 85%;
  }

  /** Footer **/

  #conteneur_footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}

/****version desktop****/

@media screen and (min-width: 990px) {
  #logo img {
    width: 5rem;
    height: 5rem;
    margin-top: 0;
  }

  #lien_hebergement {
    color: #0065fc;
    font-weight: 500;
    padding-bottom: 20px;
    border-top-color: #0065fc;
    border-top: solid;
    padding-top: 2.2rem;
  }

  #lien_inscription {
    color: #0065fc;
    font-weight: 800;
  }

  #trait_bleu {
    display: none;
  }

  #trait_gris {
    display: none;
  }

  /**barre de recherche**/

  #recherche {
    padding: 0;
  }

  #bloc_rechercher:hover {
    box-shadow: 10px 10px 15px -1px #f2f2f2;
  }

  /** Filtres **/

  .bouton_filtre {
    margin-right: 1rem;
  }

  .bouton_filtre:hover {
    border: 1px solid #0065fc;
    box-shadow: 10px 10px 15px -1px #f2f2f2;
  }

  .bouton_filtre:focus {
    border: 1px solid #0065fc;
    box-shadow: 10px 10px 15px -1px #f2f2f2;
  }

  /** bloc hebergements et les plus populaires **/

  #bloc_section_ordi {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 1rem 2rem 1rem;
  }

  /** Les plus populaires **/

  #bloc_populaires {
    background-color: #f2f2f2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    order: 2;
    width: 30%;
    max-width: 30%;
  }

  .populaires {
    height: 9rem;
    background-color: white;
    border-radius: 20px;
    padding: 0.2rem;
    margin-bottom: 1.5rem;
    box-shadow: 8px 8px 5px -5px #d3d3d3;
  }

  .populaires:hover {
    transform: scale(1.05);
    padding: 0;
    box-shadow: 10px 10px 15px -1px #d3d3d3;
  }

  .populaires:focus {
    transform: scale(1.05);
    padding: 0;
    box-shadow: 10px 10px 15px -1px #d3d3d3;
  }

  #titre_icone_du_bloc {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    margin: 1rem;
  }

  #conteneur_populaires {
    display: inline-flex;
    flex-direction: column;
  }

  /**hebergements**/

  #Hebergements h2 {
    margin: 1rem;
  }

  #Hebergements {
    background-color: #f2f2f2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-right: 1.5rem;
    margin-left: 0;
    width: 70%;
    max-width: 70%;
  }

  .hebergements {
    box-shadow: 8px 8px 5px -5px #d3d3d3;
    padding: 0.2rem;
    margin-right: 0.625rem;
  }

  .hebergements:hover {
    transform: scale(1.05);
    padding: 0;
    box-shadow: 10px 10px 15px -1px #d3d3d3;
  }

  .hebergements:focus {
    transform: scale(1.05);
    padding: 0;
    box-shadow: 10px 10px 15px -1px #d3d3d3;
  }

  #conteneur_hebergements {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
    margin-top: 0;
  }

  #afficher_plus {
    font-size: 1rem;
    font-weight: 800;
    margin: 1rem 0 2rem 1rem;
  }

  /** Activites **/

  #conteneur_activites {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0;
  }

  .activites:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 15px -1px #d3d3d3;
  }

  .activites:focus {
    transform: scale(1.05);
    padding: 0;
    box-shadow: 10px 10px 15px -1px #d3d3d3;
  }

  /** Footer **/

  #conteneur_footer {
    justify-content: flex-start;
    margin-left: 1rem;
  }

  .colonne_footer {
    margin-right: 8rem;
    margin-top: 0;
    margin-left: 0;
    padding: 0;
  }
}
