body {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: normal;
  width: 100%;
  margin: 0;
  padding: 0 1rem 0 1rem;
  justify-content: center;
  flex-direction: column;
}

h1,
h2 {
  color: black;
  font-weight: bold;
  font-size: 24px;
}

a {
  text-decoration: none;
  color: black;
}

main {
  width: 100%;
}

/* Header */

header li a {
  display: block;
  text-align: center;
  padding: 40px 20px;
  float: right;
}

#logo img {
  width: 70px;
  height: 70px;
  float: left;
  align-items: flex-end;
}

nav ul {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: flex-end;
  flex-flow: row nowrap;
  font-size: 14px;
}

#lien_inscription {
  order: 1;
  justify-content: flex-end;
  align-self: flex-start;
}

#lien_hebergement #lien_activite {
  align-items: flex-end;
}

/* Recherche */

#barre_recherche {
  border-radius: 10px;
}

#filtres .fas {
  color: #0065fc;
  background-color: #deebff;
  width: 39px;
  height: 39px;
  border-radius: 50%;
  border: 3px solid rgba(242, 242, 242, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-weight: bolder;
}

.bouton_filtre {
  height: 43px;
  border-top: 4px solid #f2f2f2;
  border-right: 4px solid #f2f2f2;
  border-bottom: 4px solid #f2f2f2;
  border-radius: 30px;
  margin-right: 350px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

span {
  font-weight: 800;
  display: flex;
  justify-content: center;
  padding-left: 5px;
  color: black;
}

#loupe {
  display: flex;
  background-color: #0065fc;
  color: white;
  width: 2rem;
  height: 2rem;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

#resultat_rech {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#resultat_rech .fas::before {
  background-color: white;
  color: #0065fc;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 3px solid rgba(242, 242, 242, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

#resultat_rech p::after {
  display: flex;
  font-size: 12px;
  font-weight: normal;
}

/* Les plus populaires */

#populaires {
  background-color: #f2f2f2;
}

.Populaires img {
  border: 5px hidden;
  border-radius: 30px 0px 0px 30px;
  height: 200px;
  padding: 1% 15% 1% 1%;
  transform: translate(-38px);
}

.Populaires h3 p i {
  float: right;
  justify-content: space-evenly;
}

.Populaires i {
  color: #0065fc;
}

.Populaires {
  background-color: white;
  padding: 30px 10%;
  margin: 4% 0 2% 2%;
  border-radius: 30px 30px 30px 30px;
  display: flex;
  flex-wrap: wrap;
}

.texte_photo {
  display: block;
  flex-direction: column;
}

/* Hébergements à Marseille */

#conteneur {
  display: flex;
  flex-direction: column;
}

#Hebergements i {
  color: #0065fc;
}

/* Footer */

footer {
  color: black;
  flex-direction: column;
  background-color: #f2f2f2;
  width: 100%;
}

div.colonne_footer ul {
  font-weight: 400;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}
